.play-header-container {
  padding: 1rem;
  background-color: #ededed;

  .logo {
    width: 7rem;
  }

  .logged-in-user{
    float: right;
    width: 2rem;
  }

  .navigation-list{
    display: flex;
    justify-content: flex-end
  }

  .navigation-entry {
    color: #00d9c3;
    display: inline;
    padding: 0 1rem;
    margin: auto 0;
    cursor: pointer;
    text-decoration: underline;
    
    &:visited {
      color: #00d9c3;
    }
  }

}
